@font-face {
        font-family: veraSerif;
        src: url("/static/VeraSe.ttf");
}
.accordion {
    width: 500px;
}
/*.ui-accordion-header-collapsed {
    width: 500px;
}*/
/*.description {
    width: 500px;
    height: 100px;
}*/
/*#name_form{
    float: left;
    margin: 0px;
    margin-right: 2px;
}

#add_form{
    float: left;
    margin: 0px;
    margin-right: 2px;

}*/

#source {
    float: right;
    /*position: relative;*/
    margin-top: 25px;
}

:root {
  --bg: whitesmoke;
}
body {
    background-color: var(--bg);
}
th {
    background-color: var(--bg);
    font-size: 16px;
    /*font-family: "Times New Roman", Times, serif;*/
    font-family: veraSerif;
    font-weight: normal;

}
.bold {
    font-weight: bold;
}
#name_display {
    display: inline-block;
}
#name_display_box {
    margin-top=0px;
}
/*#logout_button {
    display: inline-block;
    float: left;
}*/
